* {
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

button {
    background-color: lightgray;
    border: none;
    font-size: 18px;
    margin-top: 20px;   
    padding: 10px;
}

button:hover {
    background-color: dimgray;
    color: white;
}

footer {
    background-color: rgb(243, 240, 240);
    bottom: 0;
    font-size: 16px;
    justify-content: center;
    margin-top: 100px;
    padding: 10px 0px;
    text-align: center;
    width: 100%;
}

footer a {
    color: black;
}

footer a:hover {
    color: dimgray;
}

header, li {
    float: left;
}

header {
    align-content: center;
}

header a, li a {
    color: black;
    display: block;
    overflow: hidden;
    padding: 20px;
    text-decoration: none;
}

li a {
    min-width: 110px;
    text-align: center;
}

header a:hover, li a:hover {
    background-color: lightgray;
}

h1 {
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 4px;
    padding-bottom: 20px;
    text-align: left;
}

img {
    display: block;
	height: 100%;
    object-fit: cover;
    width: 100%;	
}

ul {
    float: right;
    list-style-type: none;
}

.blankSpace {
    display: none;
}

.column {
    float: left;
    font-size: 18px;
    height: 100%;
    text-align: justify;
    width: 50%;
}

.homeIcon {
    background-image: url("home.png");
    background-origin: content-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
    height: 70px;
    padding: 10px;
    width: 70px;
}

.menuIcon {
    display: none;
    padding: 10.5px;
}

.left1, .right1 {
    position: absolute;
}

.left1 {
    left: 20px;
    right: 70%;
    text-align: left;
    top: 20%;
}

.left2 {
    padding: 100px 40px 0px 200px;
}

.navbar {
    font-size: 24px;
    letter-spacing: 4px;
}

.quote {
    font-size: 18px;
    font-style: italic;
    opacity: 80%;
    overflow: hidden;
}

.right1 {
    bottom: 200px;
    left: 70%;
    right: 20px;
    text-align: right;
}

.right2 {
    padding: 100px 200px 0px 40px;
}

.row {
    height: 100%;
}

.row::after {
    clear: both;
    content: "";
    display: table;
}

.top {
    background-image: url("dog1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

@media screen and (max-width: 640px) {
    nav ul {
        display: none;
    }

    .open .blankSpace {
        display: block;
        height: 70px;
    }

    .menuIcon {
        display: block;
        float: right;
    }

    .menuIcon:hover, .open .menuIcon:hover, .open nav ul li a:hover {
        background-color: lightgray;
    }

    .open {
        position: relative;
    }

    .open .menuIcon {
        background-color: rgb(144, 156, 135);
        position: absolute;
        right: 0;
        top: 0;
    }

    .open nav ul {
        display: block;
        float: right;
    }

    .open nav ul li {
        width: 100%;
    }

    .open nav ul li a {
        background-color: rgb(144, 156, 135);
        float: right;
        text-align: right;
        width: 200px;
    }
}

@media screen and (max-width: 480px) {
    nav ul {
        display: none;
    }

    .open .blankSpace {
        background-color: rgb(203, 218, 192);
        display: block;
        height: 70px;
    }

    .homeText {
        display: none;
    }

    .homeIcon {
        display: block;
        float: left;
    }

    .menuIcon {
        display: block;
        float: right;
    }

    .menuIcon:hover, .open .homeIcon:hover, .open .menuIcon:hover, .open nav ul li a:hover {
        background-color: lightgray;
    }

    .open {
        position: relative;
    }

    .open .homeIcon {
        background-color: rgb(203, 218, 192);
    }

    .open .menuIcon {
        background-color: rgb(144, 156, 135);
        position: absolute;
        right: 0;
        top: 0;
    }

    .open nav ul {
        display: block;
        float: none;
    }

    .open nav ul li a {
        background-color: rgb(144, 156, 135);
        float: left;
        text-align: left;
        width: 100%;
    }

    .left1, .right1 {
        left: 0;
        right: 0;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        width: 100%;
    }

    .left1 {
        top: 20%;
    }

    .right1 {
        bottom: 10%;
    }

    .row {
        margin: 0px;
    }

    .column {
        padding: 0px;
        font-size: 18px;
        text-align: justify;
        width: 100%;
    }

    .left2.upper {
        padding: 40px 40px 0px 40px;
    }

    .left2.upper {
        position: absolute;
        z-index: 2;
    }

    .right2.upper {
        opacity: 70%;
        position: absolute;
        z-index: 1;
    }

    .right2.lower {
        padding: 40px 40px 0px 40px;
    }

    .right2.lower {
        position: absolute;
        z-index: 2;
    }

    .left2.lower {
        opacity: 70%;
        position: absolute;
        z-index: 1;
    }

    footer {
        margin-top: 0px;
    }
}

.stripe1, .stripe2, .stripe3 {
    background-color: black;
    height: 3px;
    margin: 10px 7px;
    width: 35px;
    transition: 0.5s;
}

.switch .stripe1 {
    transform: translate(0, 13px) rotate(-45deg);
}

.switch .stripe2 {
    opacity: 0;
}

.switch .stripe3 {
    transform: translate(0, -13px) rotate(45deg);
}